%h1 Listing company_vacancies

%table
  %thead
    %tr
      %th Company
      %th Title
      %th Salary
      %th Requirements
      %th Description
      %th
      %th
      %th

  %tbody
    - @company_vacancies.each do |company_vacancy|
      %tr
        %td= company_vacancy.company
        %td= company_vacancy.title
        %td= company_vacancy.salary
        %td= company_vacancy.requirements
        %td= company_vacancy.description
        %td= link_to 'Show', company_vacancy
        %td= link_to 'Edit', edit_company_vacancy_path(company_vacancy)
        %td= link_to 'Destroy', company_vacancy, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Company vacancy', new_company_vacancy_path
