= simple_form_for(@company) do |f|
  = f.error_notification

  .form-inputs
    .form-group
      = f.input :company_type
    .form-group
      = f.input :company_name
    .form-group
      = f.input :specialization
    .form-group
      = f.input :about, as: :bootsy
    .form-group
      = f.input :website
    .form-group
      = f.input :photo

  .form-actions
    = f.button :submit, 'Создать компанию', class: 'btn btn-success'
    = link_to 'Отмена', companies_path, class: 'btn btn-default'
