.content.pull-left
  %p#notice= notice

  %h1
    = @company.company_type
    = @company.company_name
  %hr.btn-danger
  %p
    %b О компании:
    = @company.about
  %p
    %b Сайт:
    = @company.website
  %p
    %b Представитель:
    = @company.user.name
  %p
    %b Фотография:
    - if !@company.photo.blank?
      %image_tag @company.photo
    - else
      Фотография не добавлена

  = link_to 'Редактировать компанию', edit_company_path(@company), class: 'btn btn-default'
  = link_to 'Назад', companies_path, class: 'btn btn-default'

#sidebar.pull-right.panel.panel-default
  .panel-heading
    %h3 Новости
  .panel-body
    - if @news
      - @news.each do |news|
        %h4= news.title
    - else
      %p У Вашей компании пока нет ни одной новости.
      = link_to 'Добавить новость', new_news_path(company: @company.id), class: 'btn btn-default'
