= simple_form_for(@company_news) do |f|
  = f.error_notification

  .form-inputs
    .form-group
      = f.input :title
    .form-group
      = f.input :body
    .form-group
      = f.input :published

  .form-actions
    = f.button :submit
