%h1 Новости компании

%table
  %thead
    %tr
      %th Компания
      %th Пользователь
      %th Заголовок
      %th Текст
      %th Размещена?
      %th
      %th
      %th

  %tbody
    - @company_news.each do |company_news|
      %tr
        %td= company_news.company
        %td= company_news.user
        %td= company_news.title
        %td= company_news.body
        %td= company_news.published
        %td= link_to 'Show', company_news
        %td= link_to 'Edit', edit_company_news_path(company_news)
        %td= link_to 'Destroy', company_news, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Добавить новость', new_company_news_path
